version: '3.9'
services:
  backend:
    build: ./backend
    container_name: multilingual-backend
    ports:
      - "5001:5001"

  frontend:
    build: ./frontend
    container_name: multilingual-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
